@mixin stil($takim) {

    @if ($takim == "FB") {
        background-color: blue;       
    }
    @else if ($takim == "GS") {
        background-color: red; 
        color: white; 
    }
    @else if ($takim == "BJK") {
        background-color: black; 
    }
    @else {
        background-color: purple; 
    }
};

.kutu{
    float:left;
    padding: 10px 15px;
    @include stil("GS")
}